@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: #de222a;
    color: white;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.open {
    max-height: 400px; /* Adjust this value to the maximum height of your submenu */
}
.hovered-plus:hover {
    background-color: #cc3333;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track  */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle  */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
